@page {
  size: 254mm 190.5mm; /* 4:3 */
  margin: 0;
}

@media print {
  body {
    width: 254mm;
    margin: 0;
  }

  body::before {
    content: unset;
  }

  section {
    margin: 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  background: #eee;
  margin: 5mm;
  counter-reset: sheet;
}

body::before {
  content: "▶  Press 's' to start presentation";
  color: #333;
  font-size: 24px;
}

section {
  background: white;
  box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
  margin: 5mm 0;
  position: relative;
  /* 4:3 */
  width: 254mm;
  height: 190.5mm;
  padding: 10mm 20mm;
  page-break-after: always;
}

/* page number */
section::after {
  position: absolute;
  bottom: 10mm;
  right: 10mm;
  counter-increment: sheet;
  content: counter(sheet);
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 36px;
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-weight: normal;
  font-size: 1.2rem;
}

p {
  margin: 0;
  margin-top: 24px;
  margin-left: 30px;
  line-height: 1.75;
}

ul, ol {
  margin: 0;
  margin-top: 24px;
}

li {
  margin: 0;
  margin-bottom: 18px;
}

span {
  display: inline-block;
}

em {
  font-style: normal;
  font-weight: bold;
  color: var(--em-color);
}

img {
  max-width: 100%;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 24px;
  max-width: 100%;
}

figcaption {
  margin: 0;
  margin-top: 6px;
}

pre {
  line-height: 1.2;
}

.frame {
  box-shadow: 0 .5mm 2mm rgba(0, 0, 0, .3);
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.row>* {
  margin-left: 24px;
}

.row>*:first-child {
  margin-left: 0;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title::after {
  /* hide page number on title slide */
  font-size: 0;
}

.title h1 {
  font-size: 2rem;
}

.title p {
  margin: 0;
}
